<div class="columns">
	<div class="column">
		<div class="columns">
			<div class="column">
				<div class="buttons">

				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<div class="columns">
					<div class="column">
						<p class="has-text-weight-semibold">Issues (<%= @records.length %>)</p>
					</div>
					<div class="column is-5">
						<% if @records.length > 0 %>
						<%= render partial: 'pagy/bulma_nav', locals: {pagy: @pagy} %>
						<% end %>
					</div>
				</div>
				<div class="columns">
					<div class="column is-10">
						<form method="get">
							<input type="text" class="input is-small" name="search" placeholder="Search.." value="<%= params[:search] %>" />
						</form>
					</div>
					<div class="column">
						<a href="#" class="button is-small is-primary is-outlined">New issue</a>
					</div>
				</div>
				<div class="columns">
					<div class="column">
						<div class="field is-grouped is-grouped-multiline">
							<div class="control">
								<div class="tags has-addons">
									<span class="tag is-dark">Open</span>
									<span class="tag is-info"><%= @open_records %></span>
								</div>
							</div>

							<div class="control">
								<div class="tags has-addons">
									<span class="tag is-dark">Closed</span>
									<span class="tag is-success"><%= @closed_records %></span>
								</div>
							</div>

							<div class="control">
								<div class="tags has-addons">
									<span class="tag is-dark">In progress</span>
									<span class="tag is-primary"><%= @inprogress_records %></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="columns">
					<div class="column">
						<table class="table is-striped is-fullwidth is-bordered">
							<thead>
								<tr>
									<th></th>
									<th>Title</th>
									<th>Status</th>
									<th>Severity</th>
									<th>Score</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<% @records.each do |s| %>
								<tr>
									<td width="5%"><%= fa_icon "folder" %></td>
									<td width="30%"><%= s.title %></td>
									<td><%= s.status.capitalize %></td>
									<td><%= s.severity.capitalize %></td>
									<td><%= s.score %></td>
									<td class="level-right">
										<%= link_to view_issue_path(s.uuid)  do %>
										<%= fa_icon "folder-open-o" %>
										<% end %>
									</td>
								</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>