<div class="columns">
	<div class="column">
		<div class="columns">
			<div class="column">
				<div class="buttons">

				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<div class="columns">
					<div class="column">
						<p class="has-text-weight-semibold">Issues (<%= @records.length %>)</p>
					</div>
					<div class="column is-5">
						<% if @records.length > 0 %>
						<%= render partial: 'pagy/bulma_nav', locals: {pagy: @pagy} %>
						<% end %>
					</div>
				</div>

				<form method="get" action="<%= issues_list_path %>">

					<div class="columns">
						<div class="column is-3">
							<input type="text" name="keyword" class="input is-small" />
						</div>
						<div class="column is-3">
							<div class="field">
								<div class="control">
									<div class="select is-fullwidth is-small">
										<select name="scope">
											<option value=""></option>
											<% Scope.all.each do |s| %>
												<option value="<%= s[:id] %>"><%= s[:title] %></option>
											<% end %>
										</select>
										</div>
								</div>
							</div>
						</div>
						<div class="column is-2">
							<div class="field">
								<div class="control">
									<div class="select is-fullwidth is-small">
										<select name="severity">
											<option value=""></option>
											<% Issue.severities.each do |s| %>
												<option value="<%= s[0] %>"><%= s[0].capitalize %></option>
											<% end %>
										</select>
										</div>
								</div>
							</div>
						</div>

						<div class="column is-2">
							<div class="field">
								<div class="control">
									<div class="select is-fullwidth is-small">
										<select name="status">
											<option value=""></option>
											<% Issue.statuses.each do |s| %>
												<option value="<%= s[0] %>"><%= s[0].capitalize %></option>
											<% end %>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="column is-2">
							<div class="field">
								<div class="control">
									<button class="button is-small is-fullwidth">
										Filter
									</button>
								</div>
							</div>
						</div>

					</div>
				</form>


				<div class="columns">
					<div class="column">
						<div class="field is-grouped is-grouped-multiline">
							<div class="control">
								<div class="tags has-addons">
									<span class="tag is-dark">Open</span>
									<span class="tag is-info"><%= @open_records %></span>
								</div>
							</div>

							<div class="control">
								<div class="tags has-addons">
									<span class="tag is-dark">Closed</span>
									<span class="tag is-success"><%= @closed_records %></span>
								</div>
							</div>

							<div class="control">
								<div class="tags has-addons">
									<span class="tag is-dark">In progress</span>
									<span class="tag is-primary"><%= @inprogress_records %></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="columns">
					<div class="column">
						<table class="table is-striped is-fullwidth is-bordered">
							<thead>
								<tr>
									<th style="width: 36px"></th>
									<th>Title</th>
									<th>Status</th>
									<th>Severity</th>
									<th style="width: 40px">Score</th>
									<th>Create at</th>
									<th style="width: 36px"></th>
								</tr>
							</thead>
							<tbody>
								<% @records.each do |s| %>
								<tr>
									<td><%= fa_icon "folder" %></td>
									<td><%= s.title %></td>
									<td><%= s.status.capitalize %></td>
									<td><%= s.severity.capitalize %></td>
									<td><%= s.score %></td>
									<td><%= distance_of_time_in_words_to_now(s.created_at) %></td>
									<td class="level-right">
										<%= link_to view_issue_path(s.uuid)  do %>
											<%= fa_icon "folder-open-o" %>
										<% end %>
									</td>
								</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>