<section class="section">
	<div class="columns">
		<div class="column is-5">
			<h4 class="title">New issue</h4>
			<hr />
			<%= simple_form_for (@record), {url: create_issue_path(@scope_uuid)} do |f| %>
				<%= f.error_notification %>
				<% if @scope_uuid.nil? %>
					<div class="field">
						<div class="control">
							<label class="label">Scope</label>
							<div class="select is-fullwidth">
								<%= f.input :scope_id, as: :select, collection: Scope.all.map{ |s| [s.id, s.title]}, input_html: { class: "select"}, label_method: :second, value_method: :first, label_html: { class: "label" }, error_html: { class: "help is-danger" }, wrapper: false, label: false %>
							</div>
						</div>
					</div>
					<% end %>


			<div class="field">
				<div class="control">
					<%= f.input :title, required: true, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" }, error_html: { class: "help is-danger" } %>
				</div>
			</div>
				<div class="field">
					<div class="control">
						<label class="label">Severity</label>
						<div class="select is-fullwidth">
							<%= f.input :severity, as: :select, collection: Issue.severities.map {|key, value| [key, Issue.severities.key(value).capitalize]}, input_html: { class: "select"}, label_method: :second, value_method: :first, label_html: { class: "label" }, error_html: { class: "help is-danger" }, wrapper: false, label: false %>
						</div>
					</div>
				</div>
				<div class="field">
					<div class="control">
						<%= f.input :score, required: true, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" }, error_html: { class: "help is-danger" } %>
					</div>
				</div>
			<div class="field">
				<div class="control">
					<%= f.input :description, required: true, input_html: { rows: 10, class: "textarea"}, wrapper: false, label_html: { class: "label" }, error_html: { class: "help is-danger" } %>
				</div>
			</div>
			<hr />
			<div class="field is-grouped is-grouped-right">
				<div class="control">
					<%= link_to "Cancel", issues_list_path, class: "button is-primary is-outlined is-small" %>
				</div>
				<div class="control">
					<%= f.button :submit, "Create", class:"button is-primary is-fullwidth is-small" %>
				</div>
			</div>
			<% end %>

			<br>
		</div>
	</div>
</section>