<div class="columns">
	<div class="column">
		<div class="columns">
			<div class="column">
				<%= link_to :back, class: "button is-primary is-outlined is-small"  do %>
					<%= fa_icon "angle-left" %>&nbsp;Back
				<% end %>
				<%= link_to edit_issue_path(@record.uuid), class: "button is-primary is-outlined is-small" do %>
						<%= fa_icon "pencil" %>&nbsp;Edit issue
					<% end %>
			</div>
			<div class="column is-6">
				<p class="has-text-right has-text-weight-semibold">#<%= @record.sequence_number %></p>
			</div>
		</div>

		<div class="columns">
			<div class="column">
				<p class="has-text-weight-semibold">Details</p>
			</div>
		</div>

		<div class="columns">
			<div class="column">
				<table class="table is-striped is-fullwidth is-bordered">
					<tbody>
					<tr>
						<td style="width: 25%;">Scope</td>
						<td><%= @record.scope.title %></td>
					</tr>
					<tr>
						<td>Title</td>
						<td><%= @record.title %></td>
					</tr>
					<tr>
						<td>Score</td>
						<td><%= @record.score %></td>
					</tr>
					<tr>
						<td>Severity</td>
						<td><%= @record.severity.capitalize %></td>
					</tr>
					<tr>
						<td>Status</td>
						<td><%= @record.status.capitalize %></td>
					</tr>
					<tr>
						<td>Created At</td>
						<td><span title="<%= format_time(@record.created_at, "CET") %>"><%= distance_of_time_in_words_to_now(@record.created_at) %></span></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="columns">
			<div class="column">
				<div class="columns">
					<div class="column">
						<p class="has-text-weight-semibold">Description</p>
					</div>
				</div>
				<div class="columns">
					<div class="column">
						<% if !@record.description.nil? %>
							<%= @record.description %>
						<% else %>
							...
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<div class="columns">
					<div class="column">
						<p class="has-text-weight-semibold">Solution</p>
					</div>
				</div>
				<div class="columns">
					<div class="column">
						<% if !@record.solution.nil? %>
							<%= @record.solution %>
						<% else %>
							...
						<% end %>
					</div>
				</div>
			</div>
		</div>

		<div class="columns">
			<div class="column">
				<div class="columns">
					<div class="column">
						<p class="has-text-weight-semibold">Attachments</p>
					</div>
				</div>

			<div class="columns">
				<% if @record.files.count > 0 %>
					<% @record.files.each do |file| %>
						<div class="column is-3">
							<% if file.variable? %>
								<%= image_tag file.variant(resize: "400x400") %>
							<% elsif file.previewable? %>
								<%= image_tag file.preview(resize: "400x400"), rails_blob_path(file, disposition: :attachment) %>
							<% else %>
								
							<% end %>
							<span class="tag is-gray is-medium">
								<%= link_to file.filename, rails_blob_path(file, disposition: :attachment) %>
								<%= link_to 'Remove', issue_delete_attachment_path(@record.uuid, file.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "delete" %>
							</span>
						</div>
					<% end %>
					<% else %>
						<div class="column">
							<i>No attachments</i>
						</div>
					<% end %>
			</div>
			</div>
		</div>

		<div class="columns">
			<div class="column">
				<p class="has-text-weight-semibold">Comments</p>
			</div>
			<div class="column is-5">
				<% if @comments.length > 0 %>
					<%= render partial: 'pagy/bulma_nav', locals: {pagy: @pagy} %>
				<% end %>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<table class="table is-striped is-fullwidth">
					<tbody>
					<tr>
						<td colspan="2"><%= render partial: '/issue/comment', locals: {comment: @comment, record: @record} %></td>
					</tr>
					<% if @comments.length > 0 %>
						<% @comments.each do |c| %>
							<tr>
								<td><%= c.message %></td>
								<td width="30%" class="has-text-right"><span class="is-italic has-text-small">by @<%= c.user.name.downcase %> at <%= distance_of_time_in_words_to_now(c.created_at) %> ago</span></td>
							</tr>
						<% end %>
					<% else %>
						<tr>
							<td>No comments</td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>

		<div class="columns">
			<div class="column">
				<h4 class="has-text-centered has-text-white-ter has-text-weight-semibold"><%= @record.uuid %></h4>
			</div>
		</div>

		<div class="columns">
			<div class="column">
				<% @record.audits.each do |r| %>
					<div>
						Record
						<% if r.action == "create" %>
							created
							<% elsif r.action == "update" %>
						updated
							<% end %>
						<span title="<%= format_time(@record.created_at, "CET") %>"><%= distance_of_time_in_words_to_now(r.created_at) %> ago</span>
						by <%= r.user.name %>
					</div>
					<div>
						<% if r.action == "update" %>
							<% r.audited_changes.each do |a| %>
								<div>
									<b><%= a[0].titleize %></b>
									from <i><%= a[1][0] %></i>
									to <i><%= a[1][1] %></i>
								</div>
							<% end %>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>