<div class="columns">
	<div class="column">
		<div class="columns">
			<div class="column">
				<%= link_to :back, class: "button is-primary is-outlined is-small"  do %>
					<%= fa_icon "angle-left" %>&nbsp;Back
				<% end %>
			</div>
		</div>

		<div class="columns">
			<div class="column">
				<p class="has-text-weight-semibold">Details</p>
			</div>
		</div>

		<div class="columns">
			<div class="column">
				<table class="table is-striped is-fullwidth is-bordered">
					<tbody>
					<tr>
						<td width="25%">Title</td>
						<td><%= @record.title %></td>
					</tr>
					<tr>
						<td>Description</td>
						<td><%= @record.description %></td>
					</tr>
					<tr>
						<td>Score</td>
						<td><%= @record.score %></td>
					</tr>
					<tr>
						<td>Severity</td>
						<td><%= @record.severity.capitalize %></td>
					</tr>
					<tr>
						<td>Status</td>
						<td><%= @record.status.capitalize %></td>
					</tr>
					<tr>
						<td>Solution</td>
						<td><%= @record.solution %></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="columns">
			<div class="column">
				<p class="has-text-weight-semibold">Comments</p>
			</div>
			<div class="column is-5">
				<% if @comments.length > 0 %>
					<%= render partial: 'pagy/bulma_nav', locals: {pagy: @pagy} %>
				<% end %>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<table class="table is-striped is-fullwidth">
					<tbody>
					<tr>
						<td colspan="2"><%= render partial: '/issue/comment', locals: {comment: @comment, record: @record} %></td>
					</tr>
					<% if @comments.length > 0 %>
						<% @comments.each do |c| %>
							<tr>
								<td><%= c.message %></td>
								<td width="30%" class="has-text-right"><span class="is-italic has-text-small">by @<%= c.user.name.downcase %> at <%= distance_of_time_in_words_to_now(c.created_at) %> ago</span></td>
							</tr>
						<% end %>
					<% else %>
						<tr>
							<td>No comments</td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>