<div class="columns">
	<div class="column">
		<div class="columns">
			<div class="column">
				<div class="buttons">
					<% if is_super() == true %>
						<%= link_to new_project_path, class: "button is-primary is-outlined is-small" do %>
							<%= fa_icon "pencil" %>&nbsp;New project
						<% end %>
					<% end %>
				</div>
			</div>
			<div class="column is-3">
				<%= render partial: 'pagy/bulma_nav', locals: {pagy: @pagy} %>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<hr />

				<div class="columns is-multiline">
					<% @records.each do |record| %>
					<div class="column is-3">
						<div class="card">
							<div class="card-content">
								<div class="content">
									<h4>
										<span style="color:  <%= status_color(record.status) %>">|</span>

										<%= truncate(record.title, length: 18) %>
									</h4>
									<p>&nbsp;<%= truncate(record.description, :length => 24) %></p>
								</div>
							</div>
							<footer class="card-footer">
								<%= link_to view_project_path(record.uuid), class: "card-footer-item" do %>
									More&nbsp;<%= fa_icon "angle-right" %>
								<% end %>
							</footer>
						</div>
					</div>
					<% end %>	
				</div>

				<div class="columns">
					<div class="column">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>