<div class="columns">
	<div class="column">
		<div class="columns">
			<div class="column">
				<%= link_to new_scope_path(uuid: @record.uuid), class: "button is-primary is-outlined is-small"  do %>
				<%= fa_icon "pencil" %>&nbsp;Add scope
				<% end %>
			</div>
		</div>

		<div class="columns">
			<div class="column">
				<div class="columns">
					<div class="column">
						<p class="has-text-weight-semibold">Details</p>
					</div>
					<div class="column is-3">
						<% if @record.scope.length > 0 %>
							<%= render partial: 'pagy/bulma_nav', locals: {pagy: @pagy} %>
						<% end %>
					</div>
				</div>
				<div class="columns">
					<div class="column">
						<table class="table is-fullwidth is-striped is-bordered">
							<tbody>
								<tr>
									<td width="25%">Title</td>
									<td><%= @record.title %></td>
								</tr>
								<tr>
									<td>Description</td>
									<td><%= @record.description %></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="columns">
					<div class="column">
						<hr />
						<div class="columns">
							<div class="column">
								<p class="has-text-weight-semibold">Scopes</p>
							</div>
							<div class="column is-3">
								<%= render partial: 'pagy/bulma_nav', locals: {pagy: @pagy} %>
							</div>
						</div>
						<div class="columns">
							<div class="column">
								<% if @record.scope.length > 0 %>
								<table class="table is-striped is-fullwidth is-bordered">
									<tbody>
										<% @records.each do |s| %>
										<tr>
											<td width="5%"><%= fa_icon "folder" %></td>
											<td width="30%"><%= s.title %></td>
											<td width="5%"><%= s.version %></td>
											<td><%= s.description %></td>
											<td class="level-right">
												<%= link_to view_scope_path(s.uuid)  do %>
												<%= fa_icon "folder-open-o" %>
												<% end %>
											</td>
										</tr>
										<% end %>
									</tbody>
								</table>
								<% else %>
									<div class="columns">
										<div class="column">
											<h4>No scopes.</h4>
										</div>
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>