<div class="columns">
	<div class="column">
		<%= render "/admin/tab" %>

		<div class="columns">
			<div class="column">
				<table class="table is-fullwidth is-striped is-bordered">
					<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Email</th>
						<th>Role</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					<% @users.each do |user| %>
						<tr>
							<td style="width: 36px"><%= fa_icon "user" %></td>
							<td><%= user.name %></td>
							<td><%= user.email %></td>
							<td><%= user.role.capitalize %></td>
							<td style="width: 36px">
								<%= link_to root_path do %>
									<%= fa_icon "user-o" %>
								<% end %>
							</td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>