<% @updates.each do |r| %>
  <div class="updates">
    <div>
      Record
      <% if r.action == "create" %>
        created
      <% elsif r.action == "update" %>
        updated
      <% end %>
      <span title="<%= format_time(@record.created_at, "CET") %>"><%= distance_of_time_in_words_to_now(r.created_at) %>
        ago</span>
      by <%= r.user.name %>
    </div>
    <div class="fields">
      <% if r.action == "update" %>
        <% r.audited_changes.each do |a| %>
          <div>
            <b><%= a[0].titleize %></b>
            from <i><%= a[1][0] %></i> to <i><%= a[1][1] %></i>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>